# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# iOS / macOS
ios/Pods/
ios/.symlinks/
macos/Pods/

# Android
android/.gradle/
android/local.properties

# Web
web/.dart_tool/

# Logs
*.log
